@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');



body {
  font-family: 'Roboto', sans-serif;
  background-color: '#F5F5F5';
  margin: 0;
  padding: 0;
}


.ant-btn-primary {
  background-color: '#FF5733';
  border-color: '#FF5733';
}

